@import "mocha.css";

* {
    border: none;
    border-radius: 0px;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Inconsolata Go Nerd Font", "Font Awesome 5 Free", "Symbols Nerd Font", serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    /* background-image: linear-gradient(to right, @crust 0%, @surface0 51%, @crust 100%); */
    background: @base;
    color: @text;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.kitty {
    background-color: #000000;
}

#mode {
    background-color: @yellow;
    border-bottom: 3px solid #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-meida,
#custom-power,
#custom-wallpaper,
#custom-updater,
#custom-snip,
#taskbar,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0px 10px;
    color: @text;
}

#window,
#workspaces {
    margin: 0px 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0px;
}

@keyframes blink {
    to {
        background-color: @maroon;
        color: @base;
    }
}

label:focus {
    background-color: @teal;
    color: @teal;
}

/* Our launcher. When clicked, it gets the `.started` style */
#custom-launcher {
    background-color: @crust;
    color: @text;
    font-size: 13px;
}

#custom-launcher.started {
    background-color: @yellow;
    color: @crust;
}

#custom-wpNextPrev {
    background-color: @mantle;
    color: @text;
    font-size: 18px;
    margin: 0px -0px 0px -4px;
    padding: 0px 2px 0px 2px;
}

/* Controls the style of all the launcher buttons */
#image {
    margin: 0px 2px 0px 2px;
}

#idle_inhibitor {
    color: @text;
    background-color: inherit;
    font-size: 10px;
    margin-right: 5px;
}

#taskbar {
    color: @text;
    background-color: inherit;
}

#taskbar button:hover,
#taskbar button.active {
    color: @text;
    background-color: @inherit;
    border-bottom: 3px solid @yellow;
}

#custom-weather,
#custom-pipewire,
#custom-ibus,
#wireplumber {
    background-color: @mantle;
    font-size: 13px;
    font-size: 13px;
    padding: 0px 20px 0px 20px;
    margin: 0px 0px 0px 0px;
}

#custom-pipewire.switch {
    background-color: @yellow;
    color: @crust;
}

#wireplumber.muted {
    background-color: @maroon;
    color: @crust;
}

#clock {
    background-color: @crust;
    color: @text;
}

#custom-media {
    color: @text;
    margin: 5px;
    font-size: 13px;
}

#custom-media.custom-spotify {
    background-color: @teal;
    color: @base;
    margin-left: 5px;
}

#custom-media.custom-vlc {
    background-color: @teal;
    color: @text;
    margin-right: 5px;
}

#custom-power {
    background-color: @crust;
    font-size: 20px;
    margin-left: 5px;
}

#custom-wallpaper {
    color: @text;
    font-size: 18px;
}

#custom-updater {
    color: @text;
}

#custom-snip {
    color: @text;
    font-size: 20px;
}

#cpu {
    background: @mantle;
}

#temperature {
    background: @mantle;
    color: @text;
}

#temperature.critical {
    background-color: @marooon;
}

#tray {
    color: @text;
}

#tray>.passive {
    -gtk-icon-effect: dim;
    color: @text;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    color: @text;
}

#idle_inhibitor {
    font-size: 18px;
}

#idle_inhibitor.activated {
    color: @text;
}

#language {
    color: @text;
    min-width: 16px;
}

#keyboard-state,
#keyboard-state>label,
#keyboard-state>label.locked {
    color: @mantle;
    min-width: 16px;
    padding: 0px 5px 0px 5px;
    margin: 0px 3px;
}

#keyboard-state {
    background: @mantle;
}

#keyboard-state>label {
    background: @blue;
}

#keyboard-state>label.locked {
    background: @mauve;
}
